html{
    scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  background-color: bisque;
}

hr{
    border: none;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 2px;
    width: 90vw;
    background-color: rgb(97, 48, 48)
}

.section-title hr{
    width: 50vw;
}

nav{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 950;
    width: 99vw;
    height: 13vh;
    background-color: rgba(139, 69, 19, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 5px 10px 1px #4A4A4A;
    backdrop-filter: blur(5px);
}

nav ul{
    margin: 0;
}

nav ul li{
   display: inline-block;
   position: relative;
   right: 50px;
   list-style-type: none;
   font-size: 25px;
}

nav ul li a{
    border-radius: 10px;
    padding: 20px;
    color: beige;
    text-decoration: none;
}

#hero-section{
    margin-bottom: 100px;
    margin-top: 200px;
}

.hero-img{
    border-radius: 10px;
    height: 108vh;
    width: 99vw;
    object-fit: contain;
}

.section{
    margin-bottom: 100px;
}

.section-title{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-title h2{
    font-size: 50px;
    margin: 0;
}

.section-img{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.lion-img {
    border: 5px solid rgb(97, 48, 48);
    border-radius: 10px;
}

