html{
    scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;

}

nav{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 950;
    width: 99vw;
    height: 13vh;
    background-color: saddlebrown;
    opacity: 85%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 5px 10px 1px #4A4A4A;
    backdrop-filter: blur(5px);
}

nav ul{
    margin: 0;
}

nav ul li{
   display: inline-block;
   position: relative;
   right: 50px;
   list-style-type: none;
   font-size: 25px;
}

nav ul li a{
    border-radius: 10px;
    padding: 20px;
    color: beige;
    text-decoration: none;
}

.hero-img{
    height: 108vh;
    width: 99vw;
    object-fit: contain;
}

.lion-section-title{
    display: flex;
    justify-content: center;
}

.lion-section-title h2{
    font-size: 45px;
}

.lion-img{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.lion-img img {
    border: 5px solid rgb(97, 48, 48);
    border-radius: 10px;
}

